html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
.header,
.history,
.display {
	outline: 1px solid saddlebrown;
}

.container-all {
	padding: 1rem;
	display: grid;
	grid-template-rows: 9% 9% 20.2% 61.8%;
	grid-template-columns: 1fr;
	height: 640px;
	width: 480px;

	outline: 2px solid cadetblue;
}

.container-bttns {
	margin-top: 1rem;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 1rem;
}

.bttn {
	outline: none;
	border: none;
	border-radius: 9999px;
}
